<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<link rel="stylesheet" th:href="@{/css/common.css}" />
<head>
    <title>Goods List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- jquery -->
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <!-- bootstrap -->
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.min.css}" />
    <script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
    <!-- jquery-validator -->
    <script type="text/javascript" th:src="@{/jquery-validation/jquery.validate.min.js}"></script>
    <script type="text/javascript" th:src="@{/jquery-validation/localization/messages_zh.min.js}"></script>
    <!-- layer -->
    <script type="text/javascript" th:src="@{/layer/layer.js}"></script>
    <!-- md5.js -->
    <script type="text/javascript" th:src="@{/js/md5.min.js}"></script>
    <!-- common.js -->
    <script type="text/javascript" th:src="@{/js/common.js}"></script>
</head>

<body>

<div class="panel panel-default">
<!--    <div class="wrap login_wrap">-->
    <div class="container">
<!--        <div class="container-table">-->
            <h1 style="text-align: center;">Sale Goods Lists</h1>
<!--    <table class="table" id="goodslist">-->
<!--        <tr>-->
<!--            <th>Name</th>-->
<!--            <th>Image</th>-->
<!--            <th>Original Price</th>-->
<!--            <th>Discount Price</th>-->
<!--            <th>Stock Count</th>-->
<!--            <th>Detail</th>-->
<!--        </tr>-->
<!--        <tr th:each="goods: ${goodsList}">-->
<!--            <th th:text="${goods.goodsName}"></th>-->
<!--            <td><img th:src="@{${goods.goodsImg}}" width="100" height="100" /></td>-->
<!--            <td th:text="${goods.goodsPrice}"></td>-->
<!--            <td th:text="${goods.salePrice}"></td>-->
<!--            <td th:text="${goods.stockCount}"></td>-->
<!--　　　　　    <td><a th:href="'/goods/to_detail/' + ${goods.id}">Detail</a></td>　　-->
<!--        </tr>-->
<!--    </table>-->
            <div th:each="goods: ${goodsList}">
                <div class="card" >
                    <img class="card-img-top" th:src="@{${goods.goodsImg}}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${goods.goodsName}"></h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item" th:text="${goods.goodsPrice}">Original Price</li>
                            <li class="list-group-item" th:text="${goods.salePrice}">Discount Price</li>
                            <li class="list-group-item" th:text="${goods.stockCount}"></li>
                        </ul>
                        <a th:href="'/goods/to_detail/' + ${goods.id}" class="btn btn-primary">Detail</a>
                    </div>
                </div>
            </div>
</div>
</body>

<!--<script>-->
<!--    function messageRegister() {-->
<!--        var userid = $("#userid").val();-->
<!--        window.location.href='/message/list?userid='+userid;-->
<!--    }-->

<!--</script>-->
</html>
