<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<link rel="stylesheet" th:href="@{/css/common.css}" />
<head>
    <title>Goods List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- jquery -->
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <!-- bootstrap -->
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.min.css}" />
    <script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
    <!-- jquery-validator -->
    <script type="text/javascript" th:src="@{/jquery-validation/jquery.validate.min.js}"></script>
    <script type="text/javascript" th:src="@{/jquery-validation/localization/messages_zh.min.js}"></script>
    <!-- layer -->
    <script type="text/javascript" th:src="@{/layer/layer.js}"></script>
    <!-- md5.js -->
    <script type="text/javascript" th:src="@{/js/md5.min.js}"></script>
    <!-- common.js -->
    <script type="text/javascript" th:src="@{/js/common.js}"></script>
</head>

<body>

<div class="panel panel-default">
            <h1 style="text-align: center;">Sale Goods Lists</h1>
    </table>
            <div th:each="goods: ${goodsList}">
                <div class="card-deck" style="display: flex ;position: relative;">
                <div class="card" style="background:#DCDCDC;width:240px;height:400px;border-radius: 10px;margin: 10px;padding:20px;">
                    <img class="card-img-top" th:src="@{${goods.goodsImg}}" style="width: 200px;height: 200px;"alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${goods.goodsName}" style="font-size:20px;font-weight: bold;"></h5>
                        <p class="card-text">Original Price: <span th:text="${goods.goodsPrice}" style="color: red"></span></p>
                        <p class="card-text">Discount Price: <span th:text="${goods.salePrice}" style="color: red"></span></p>
                        <p class="card-text">Stock Count: <span th:text="${goods.stockCount}" style="color: red"></span></p>
                    </div>
                        <a th:href="'/goods/to_detail/' + ${goods.id}" class="btn btn-primary" style="display: block;margin: 0 auto;">Detail</a>
                    </div>
                </div>
                </div>
            </div>
</body>

<!--<script>-->
<!--    function messageRegister() {-->
<!--        var userid = $("#userid").val();-->
<!--        window.location.href='/message/list?userid='+userid;-->
<!--    }-->

<!--</script>-->
</html>
